body {
    background-color: #eeede7;
    padding-bottom: 70px;
  }

.navbar {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    background-color: #eeede7;
}

.navbutton {
    width: 2vw;
    height: 2vw;
}

/* unvisited link */
a:link {
    color: red;
  }
a:visited {
    color: green;
  }
a:hover {
    color: hotpink;
  }
a:active {
    color: blue;
  }
  
h3 {
    color: black;
}
  
p {
    font-family: verdana;
    font-size: 20px;
}

.img-eo {
    height: 85vh;
}

@media (max-width:767px) {
    .img-eo { 
        width: 70vw;
        height: auto;
    }
    .navbutton {
        width: 5vw;
        height: 5vw;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }