/* # 09090f #eeede7 */
body {
    background-color: #ebebeb;
    padding-bottom: 70px;
  }

.navbar {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    background-color: #eeede7;
}

.navbutton {
    width: 2vw;
    height: 2vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

.center-height {
    height: 85vh;
    display: inline-block;
}
  
h3 {
    color: black;
    font-family: Georgia, Garamont, serif;
}

h4 {
    color: black;
    font-family: Georgia, Garamont, serif;
}
  
p {
    font-family: Georgia, Garamont, serif;
    font-size: 18px;
    color: black;
}

.img-eo {
    max-height: 85vh;
    max-width: 45vw;
}

.title-and-desc {
    text-align: right;
    float: right;
}

.img-desc {
    width: 20px; 
    height: 20px; 
    margin-right: 2px;
    float: left;
}

.menu-x {
    margin-left: 30px;
    word-spacing: 100vw;
}

@media (max-width:575px) {
    .img-eo { 
        max-width: 70vw;
        height: auto;
    }
    .center-height {
        height: 110vw;
    }
    .navbutton {
        width: 5vw;
        height: 5vw;
    }
    .menu-x {
        margin-left: 30px;
        word-spacing: 4px;
    }
    .title-and-desc {
        text-align: justify;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

/* unvisited link */
a:link {
    color: rgb(68, 68, 68);
  }
a:visited {
    color: rgb(68,68,68);
  }
a:hover {
    color: hotpink;
  }
a:active {
    color: blue;
  }